<ion-tabs>
  <div class="wrapper">
    <div class="navbar">
      <div class="teste">
        <ion-tab-button tab="feed">
          <i class="fas fa-home icon-home">
            <ion-icon name="heart-outline"></ion-icon>
          </i>
        </ion-tab-button>
      </div>
      <div class="teste">
        <ion-tab-button tab="messages">
          <i class="fas fa-home icon-home">
            <ion-icon name="home-outline"></ion-icon>
          </i>
        </ion-tab-button>
      </div>
      <div class="teste">
        <ion-tab-button>
          <i class="fas fa-home unic">
            <ion-icon></ion-icon>
          </i>
        </ion-tab-button>
      </div>

      <div class="teste">
        <ion-tab-button tab="notifications">
          <i class="fas fa-home icon-home">
            <ion-icon name="search-outline"></ion-icon>
          </i>
        </ion-tab-button>
      </div>
      <div class="teste">
        <ion-tab-button tab="settings">
          <i class="fas fa-home icon-home">
            <ion-icon name="people-outline"></ion-icon>
          </i>
        </ion-tab-button>
      </div>
      <div class="circle" (click)="addStudent()">
        <i class="fas fa-plus plus-icon">+</i>

      </div>

    </div>
  </div>

</ion-tabs>