<ion-slides pager="true" [options]="slideOps">

  <ion-slide>
    <img src="../../../assets/images/introUm.png">
    <h2>Realize doações</h2>
    <p>Aqui no Simetria, você pode realizar doações para alunos necessitados e ser um herói!</p>
  </ion-slide>
  <ion-slide>
    <img src="../../../assets/images/introDois.png">
    <h2>Publique seus casos</h2>
    <p>Publique sobre o objeto que necessita e esperar um herói aparecer!</p>
  </ion-slide>
  <ion-slide>
    <img src="../../../assets/images/introTres.png">
    <h2>Explore</h2>
    <p>Navegue pelo feed e encontre novos casos nos quais pode ajudar!</p>
  </ion-slide>
  <ion-slide>
    <img src="../../../assets/images/introQuatro.png">
    <h2>Apadrinhe um aluno </h2>
    <p>Apadrinhe e ajude um usuário de forma continua em suas necessidades!</p>
  </ion-slide>
  <ion-slide>
    <img src="../../../assets/images/final.png">
    <h2>Faça a diferença </h2>
    <p>Com a ajuda do Simetria, você é capaz de mudar o futuro!</p>
      <app-start></app-start>
  </ion-slide>

</ion-slides>