ion-slide{
    margin-top: 16%;
    padding: 10% 50px 50% 50px;
    display:block;
}

img{
    width: 250px;
    height: auto;
}

h2{
    font-weight: 700;
    font-size: 24px;
    color: #fff; 
}

p{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #fff; 
}





