 
ion-toolbar{
  padding-right: 15px;
  padding-left: 15px;

  ion-icon{
    font-size: 20px;
   
  }
  .perfil{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
  
.pageheader{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: auto;
  background-image: url(../../../assets/images/profile.png) ;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 213px;
}

h2{
  width: 100%;
  height: auto;

  font-size: 25px;
  font-weight: 600;
  margin-bottom: 40px;
  margin-top: -120px;
  margin-left: 20px;
 
}

.wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 10px; 
  position: absolute;
  top: 120px; 
 
}





.leaderboard {
  max-width: 100%;
  width: 100%;
  border-radius: 12px; 
    
  &__profiles {
    background-color: #fff;
    border-radius: 0 0 12px 12px;
    padding: 15px 15px 20px;
    display: grid;
    row-gap: 8px;
  }
  
  &__profile {
    display: grid;
    grid-template-columns: 2fr 7fr 1fr;
    align-items: center;
    padding: 10px 30px 10px 8px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    transition: transform .25s cubic-bezier(.7,.98,.86,.98), box-shadow .25s cubic-bezier(.7,.98,.86,.98);
    background-color: #fff;
    margin-bottom: 20px;
    width: 1000px;
    
  
  }
  
  &__pictureEducaçãoInfantil {
    max-width: 100%;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #e268916b, 0 0 0 22px #e268912f;
  }

  &__pictureEnsinoFundamental {
    max-width: 100%;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #049dbf62, 0 0 0 22px #049dbf2c;
  }

  &__pictureEnsinoMédio {
    max-width: 100%;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #fdc4746c, 0 0 0 22px #fdc4742f;
  }
  
  &__name {
    color: #979cb0;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.64px;
    margin-left: 30px;

  }
  
}

.tag {
  background-color:#979cb057;
  border-radius: 20px;
  font-size: 10px;
  margin-right: 8px;
  padding: 4px 10px;
  text-transform: uppercase;
  margin-top: 5px;
  font-weight: 600;
}

.info2{
  display: flex;
  width: 100%;
  margin-left: 30px;
}

ion-item-sliding{
  margin: 0;
  ion-item{
    margin: 0;
  }

  ion-item-options{
  margin: 5px 16px 0 ;
  height: 73px;
  ion-item-option{
    ion-icon{
      font-size: 20px;
      color:  #8257e5;
    }
  }
}

}



