
:root {
    --color-purple: #8257E5;
    --color-yellow: #F2C188;
    --color-blue: #45A7D1;
    --color-dark-blue:#049DBF;
    --color-pink: #F26087;
    --color-dark-pink:#F20587;
    --color-white: #f8f8f8;
    --color-ligth: #ffffff;
    --color-dark: #171D24;
    --color-title: #3F4B5A;
    --color-dark-ligth: #3F4B5A;
    --color-dark-purple: #3C048D;
    --color-dark-purple-hover: #2D0469;
    --color-alert: #DC002E;
     /* a cada 1rem será considerado 10px */
    font-size: 62.5%;
}

/* fontes */
@font-face {
        font-family: montserrat;
        src: url('/css/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: montserratBold;
    src: url('/css/fonts/Montserrat-Black.ttf');
}

@font-face {
    font-family: montserratThin;
    src: url('/css/fonts/Montserrat-Thin.ttf');
}

@font-face {
    font-family: montserratMed;
    src: url('/css/fonts/Montserrat-Medium.ttf');
}

@font-face{
    font-family: montserratLight;
    src: url('/css/fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: sun;
    src: url('/css/fonts/Sunrise\ International\ Demo.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-white);
    align-items: center;
    justify-items: stretch;
}

main{
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vh;
    margin-right: 10vw;
}

main .topo{
    display: flex;
    margin-bottom: 5vh;
}

main .topo .head{
    width: 70vw;
}

main .topo .head .title{
    font-family: montserratBold;
    color: var(--color-dark-purple);
    font-size: 1.8rem;
}

main .topo .head .subtitle{
    font-family: montserrat;
    font-size: 1.4rem;
    color: var(--color-dark);
    margin-top: 1vh;
}

main .topo select{
    -moz-appearance: none;
    border: var(--color-dark-purple) 1px solid;
    font-family: montserrat;
    font-size: 1.4rem;
    color: var(--color-dark-purple);
    /* esse pading influência no texto exibido dentro do select*/
    padding:5px;
    outline: none;
    background-color: transparent;
}

main .casos .container{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw; 
    margin-bottom: 5vh;
}

main .casos .container .caso{
    background-color: var(--color-ligth);
    width: 16vw;
    height: 25vh;
    padding: 0px 1vw 1vw 1vw;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 2vw;
}

main .casos .container .caso:hover{
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.25);
}

main .casos .container .caso img{
    margin-top: -2vh;
    margin-left: 5.6vw;
}

main .casos .container .caso .title{
    font-family: montserratBold;
    text-align: center;
    margin-top: 2vh;
    font-family: 1.2rem;
}

main .casos .container .caso .text{
    font-family: montserrat;
    margin-top: 2vh;
    font-family: 1.2rem;
    line-height: 15px;
}

