.menu-header-bg{
    height: 180px;
    width: 350px;
    background-image: url(../../src/assets/images/testando.jpg) ;
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
   transform: rotate(-15deg);
   border-radius: 10px 10px 10px 50px;
   margin-left: -18px;
   margin-top: -50px;
   margin-bottom: 60px;
}

.header-content{
    position: absolute;
    top: 30px;
    left: 23px;
    display: flex;
    align-items: center;

    img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 7px rgba(158, 74, 255, 0.5);
        margin-right: 21px;
    }

    h2{
        font-weight:600 ;
        font-size: 20px;
        color: #EBEBF5;
    }

    p{
      font-size: 12px;
      color: #EBEBF5;
      font-weight: 100;  
      letter-spacing: 0.4px;
    }
}

.menu-items{
    margin: 0px;
    padding-top: 30px;

    ion-icon{
        margin-right: 20px;
        color: #86979f ;
    }

    ion-item{
        padding-left: 20px;
        margin-bottom: 10px;
        color: #86979f;
        font-size: 15px;
        font-weight: 500;
        line-height: 19px;
    }

    .active{
        border-left: 5px solid;
        color: #8257E5;
        padding-left: 15px;

        ion-icon{
            color: #8257E5;
        }

        ion-item{
            color: #8257E5;
        }
    }
}

.footer{
    position: absolute;
    bottom: 0px;
    right: 0px;   

    ion-icon{
        color: #86979f;
        font-size: 25px;
        margin-bottom: 20px;
        margin-right: 20px;
    }
}