*{
    font-family: 'Montserrat', sans-serif;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.384);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}
::-webkit-scrollbar {
    width: 6px;
    background: #551212;
}
::-webkit-scrollbar-thumb {
    background: #8257e5d3;
}

.modal-container.mostrar{
  display: flex;
}

.personagem {
    width: 50px;
    height: 50px;
}

.modal {
    background: white;
    width: 60%;
    min-width: 300px;
    border-radius: 1px;
    position: relative;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}

@keyframes modal{
from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
}
 to {
     opacity: 1;
     transform: translate3d(0, 0, 0);
 }
}

.mostrar .modal-container{
    animation: modal .3s;
}


.fechar-modal{
 position: absolute;
 font-size: 1.2em ;
 top: -30px;
 right: 0px;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 border: 4px solid white;
 background: #8257e5d3;
 color: white;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 cursor: pointer;
 z-index: 200;
}

.txt-modal{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.txt-modal h3{
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.area-modal{
    background-image: url('../img/Icons/top.png');
    height: 150px;
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
}

.area-modal h3{
    margin: 0;
}

.formCheckbox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background: white;
    overflow-y: scroll;
    max-height: 460px;
}

.areaCheckbox{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.areaCheckbox h3{
    color: rgba(0, 0, 0, 0.521);
    font-size: 18px;
    font-weight: 400;
}

.tt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.selecionar{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgCheck{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 1px rgba(255, 255, 255, 0.192);
    background: rgb(255, 255, 255);
    margin: 5px;
    display: grid;
    place-items: center;
}

.imgCheck img{
    width: 80px;
} 

.aa h3{
    margin: 40px 0 20px 0;
}


  

